{% extends 'home.html' %}
{% load widget_tweaks %}

{% block navbar_links %}
{% include 'snippets/dropdowns.html' %}
<li class="nav-item">
    <a href="{% url 'items:list' %}" class="nav-link">Artículos</a>
</li>
{% endblock %}

{% block content %}

<!-- header -->
{% include './snippets/header.html' %}

<div class="row d-flex justify-content-center">
    <div class="col-md-3">
        <form method="post">{% csrf_token %}
            <!-- code control -->
            <div class="mb-2">
                {{form.code|add_label_class:"form-label"}}
                {{form.code|add_class:"form-control"}}
            </div>
            <!-- name control -->
            <div class="mb-2">
                {{form.name|add_label_class:"form-label"}}
                {{form.name|add_class:"form-control"}}
            </div>
            <!-- item_type control -->
            <div class="mb-2">
                {{form.item_type|add_label_class:"form-label"}}
                {{form.item_type|add_class:"form-select"}}
            </div>
            <!-- price control -->
            <div class="mb-2">
                {{form.price|add_label_class:"form-label"}}
                {{form.price|add_class:"form-control"}}
            </div>
            <!-- measurement control -->
            <div class="mb-2">
                {{form.measurement|add_label_class:"form-label"}}
                {{form.measurement|add_class:"form-select"}}
            </div>
            <!-- buttons -->
            <div class="mb-2">
                <input type="submit" value="Guardar" class="btn btn-outline-primary btn-sm">
                {% if item.id %}
                <button
                  type="button"
                  class="btn btn-outline-danger btn-sm"
                  data-bs-toggle="modal"
                  data-bs-target="#deleteItemModal">Eliminar</button>
                {% endif %}
                <a href="{% url 'items:list' %}" class="btn btn-outline-secondary btn-sm">Cancelar</a>
            </div>
        </form>
    </div>
</div>

<!-- Modal -->
{% if item.id %}
<div class="modal fade" id="deleteItemModal" tabindex="-1" aria-labelledby="deleteItemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="deleteItemModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>¿Está seguro de eliminar el artículo: {{item.name}}?</p>
        </div>
        <div class="modal-footer">
            <form action="{% url 'items:delete' item.pk %}" method="post"> {% csrf_token %}
                <input type="submit" class="btn btn-outline-danger btn-sm" value="Eliminar">
                <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Cancelar</button>
            </form>
        </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}