{% extends 'home.html' %}

{% block navbar_links %}
{% include 'snippets/dropdowns.html' %}
<li class="nav-item">
    <a href="{% url 'items:list' %}" class="nav-link">Artículos</a>
</li>
{% endblock %}

{% block content %}

<!-- header -->
{% include './snippets/header.html' %}

<div class="row d-flex justify-content-center">
    <div class="col-md-3">
        <form action="" method="post">{% csrf_token %}
            <!-- code control -->
            <div class="mb-2">
                <label for="id_code" class="form-label">Código:</label>
                <input
                  type="text"
                  name="code"
                  maxlength="15"
                  required
                  id="id_code"
                  class="form-control">
            </div>
            <!-- name control -->
            <div class="mb-2">
                <label for="id_name" class="form-label">Nombre:</label>
                <input
                  type="text"
                  name="name"
                  maxlength="120"
                  required
                  id="id_name"
                  class="form-control">
            </div>
            <!-- item_type control -->
            <div class="mb-2">
                <label for="id_item_type" class="form-label">Tipo:</label>
                <select
                  name="item_type"
                  required
                  id="id_item_type"
                  class="form-select">
                    <option value selected>---------</option>
                    <option value="product">Producto</option>
                    <option value="concept">Concepto</option>
                    <option value="repair">Reparación</option>
                    <option value="maintenace">Mtto</option>
                    <option value="install">Instal/Mont</option>
                    <option value="unmounting">Desmontaje</option>
                </select>
            </div>
            <div class="mb-2">
                <!-- price control -->
                <label for="id_price" class="form-label">Precio</label>
                <input
                  type="number"
                  name="price"
                  required
                  step="any"
                  id="id_price"
                  class="form-control">
            </div>
            <!-- measurement control -->
            <div class="mb-2">
                <label for="id_measurement" class="form-label">Unidad de medida:</label>
                <select name="measurement" id="id_measurement" class="form-select">
                    <option value selected>---------</option>
                    <option value="u">Uno</option>
                    <option value="m">Metros</option>
                    <option value="kg">Kilogramos</option>
                    <option value="lts">Litros</option>
                </select>
            </div>
            <!-- buttons -->
            <div class="mb-2">
                <input type="submit" value="Guardar" class="btn btn-outline-primary btn-sm">
                <a href="{% url 'items:list' %}" class="btn btn-outline-secondary btn-sm">Cancelar</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}