{% extends 'base.html' %}

{% block navbar_links %}
<li class="nav-item">
    <a href="{% url 'kits:list_kits' %}" class="nav-link">Equipos</a>
</li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col bg-light text-center">
        <h5>Equipos</h5>
    </div>
</div>

<div class="row d-flex justify-content-center">
    <div class="col-md-3">
        <form action="" method="post">{% csrf_token %}
            <!-- name control -->
            <div class="mb-2">
                <label for="id_name" class="col-sm-3 col-form-control">Nombre:</label>
                <input type="text" class="form-control" name="name" maxlength="50" required id="id_name">
            </div>
            <!-- buttons -->
            <div class="mb-2">
                <input type="submit" class="btn btn-outline-primary" value="Guardar">
                <a href="{% url 'kits:list_kits' %}" class="btn btn-outline-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>


{% endblock content %}