{% extends 'home.html' %}

{% block navbar_links %}
{% include 'snippets/dropdowns.html' %}
<li class="nav-item">
    <a href="{% url 'kits:create' %}" class="nav-link">Nuevo</a>
</li>
{% endblock %}

{% block content %}

<!-- header -->
{% include './snippets/header.html' %}

<div class="row d-flex justify-content-center mb-2" style="height: 450px;">
    <div class="col-md-3">
        <ul class="list-group list-group-flush text-center">
            {% for kit in page_obj %}
            <a
              href="{% url 'kits:update' kit.pk %}"
              class="list-group-item list-group-item-action">{{kit.name}}</a>
            {% endfor %}
        </ul>
    </div>
</div>

<!-- pagination -->
<div class="d-flex justify-content-center">
    {% include 'snippets/pagination.html' %}
</div>


{% endblock content %}