{% extends 'home.html' %}

{% block navbar_links %}
{% include 'snippets/dropdowns.html' %}
<li class="nav-item">
    <a href="{% url 'kits:create' %}" class="nav-link">Nuevo</a>
</li>
{% endblock %}

{% block content %}
<div class="col-md-4">
<!-- header -->
{% include './snippets/header.html' %}

{% if page_obj %}
    <ul class="list-group list-group-flush text-center" style="height: 450px;">
        {% for kit in page_obj %}
        <a
        href="{% url 'kits:update' kit.pk %}"
        class="list-group-item list-group-item-action">{{kit.name}}</a>
        {% endfor %}
    </ul>

{% if page_obj.paginator.num_pages > 1 %}
    <!-- pagination -->
    <div class="d-flex justify-content-center">
        {% include 'snippets/pagination.html' %}
    </div>
{% endif %}

{% else %}
    <p class="lead text-center">Inserte un equipo.</p>
{% endif %}
</div>

{% endblock content %}