{% extends 'base.html' %}

{% block content %}

<form action="" method="post">{% csrf_token %}
    <!-- name control -->
    <div class="mb-2">
        <label for="id_name" class="col-sm-3 col-form-control">Nombre</label>
        <input type="text" class="form-control" name="name" maxlength="50" required id="id_name" value="{{kit.name}}">
    </div>
    <!-- buttons -->
    <div class="mb-2">
        <input type="submit" class="btn btn-primary" value="Guardar">
        <a href="{% url 'kits:list_kits' %}" class="btn btn-secondary">Cancelar</a>
    </div>
    
</form>

{% endblock content %}