<li class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle"
      href="#"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false">Facturación</a>
    <ul class="dropdown-menu bg-lightblue">
        <li>
            <a
              class="dropdown-item"
              href="{% url 'items:list' %}">Artículos</a>
        </li>
        <li>
            <a
              class="dropdown-item"
              href="{% url 'kits:list' %}">Equipos</a>
        </li>
        <li>
            <a
              class="dropdown-item"
              href="{% url 'executors:list' %}">Ejecutores</a>
        </li>
    </ul>
</li>