{% extends 'home.html' %}

{% block navbar_links %}
{% include 'snippets/dropdowns.html' %}
<li class="nav-item">
    <a href="{% url 'customers:create' %}" class="nav-link">Nuevo</a>
</li>
{% endblock %}

{% block content %}

<!-- header -->
{% include './snippets/header.html' %}

{% if page_obj %}
<ul class="list-group list-group-flush text-center">
    {% for customer in page_obj %}
    <a
        href="{% url 'customers:update' customer.pk %}"
        class="list-group-item list-group-item-action">{{customer.name}}</a>
    {% endfor %}
</ul>

{% if page_obj.paginator.num_pages > 1 %}
<!-- pagination -->
<div class="d-flex justify-content-center">
    {% include 'snippets/pagination.html' %}
</div>
{% endif %}

{% else %}
<p class="lead text-center">Inserte un cliente.</p>
{% endif %}

{% endblock %}