{% extends 'home.html' %}
{% load widget_tweaks %}

{% block navbar_links %}
{% include 'snippets/dropdowns.html' %}
<li class="nav-item">
    <a href="{% url 'executors:list' %}" class="nav-link">Ejecutores</a>
</li>
{% endblock %}

{% block content %}

<div class="col-md-4">

<!-- header -->
{% include './snippets/header.html' %}

<form method="post">{% csrf_token %}
    <!-- full_name control -->
    <div class="mb-2">
        {{form.full_name|add_label_class:"form-label"}}
        {{form.full_name|add_class:"form-control"}}
        {% if form.full_name.errors %}
        <ul>
            {% for error in form.full_name.errors %}
                <li class="form-text text-danger">{{error}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <!-- license_number control -->
    <div class="mb-2">
        {{form.license_number|add_label_class:"form-label"}}
        {{form.license_number|add_class:"form-control"}}
        {% if form.license_number.errors %}
        <ul>
            {% for error in form.license_number.errors %}
                <li class="form-text text-danger">{{error}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <!-- personal_id control -->
    <div class="mb-2">
        {{form.personal_id|add_label_class:"form-label"}}
        {{form.personal_id|add_class:"form-control"}}
        {% if form.personal_id.errors %}
        <ul>
            {% for error in form.personal_id.errors %}
                <li class="form-text text-danger">{{error}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <!-- buttons -->
    <div>
        <button type="submit" class="btn btn-outline-primary btn-sm">Guardar</button>
        {% if executor.id %}
        <button
            type="button"
            class="btn btn-outline-danger btn-sm"
            data-bs-toggle="modal"
            data-bs-target="#deleteExecutorModal">Eliminar</button>
        {% endif %}
        <a href="{% url 'executors:list' %}" class="btn btn-outline-secondary btn-sm">Cancelar</a>
    </div>
</form>

</div>

<!-- Modal -->
{% if executor.id %}
<div class="modal fade" id="deleteExecutorModal" tabindex="-1" aria-labelledby="deleteExecutorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="deleteExecutorModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>¿Está seguro de eliminar el ejecutor: {{executor.full_name}}?</p>
        </div>
        <div class="modal-footer">
            <form action="{% url 'executors:delete' executor.pk %}" method="post"> {% csrf_token %}
                <input type="submit" class="btn btn-outline-danger btn-sm" value="Eliminar">
                <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Cancelar</button>
            </form>
        </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}